/* make design like ./image.png */

*{
    margin: 0px;
    padding: 0px;
}
#id{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
    flex-direction: column;
    width: 100%;
}
#img1{
    width: 1200px;
    height: 500px;
    border-radius: 10px;
}
#inp {
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid gray;
    margin-left: 500px;
}
#btn {
    width: 100px;
    height: 35px;
    border-radius: 5px;
    border: none;
    background-color: lightblue;
    margin-left: 550px;
}
#text{
    color: white;
    margin-top: 20px;
    font-size: 20px;
}
body{
    background-color: black;
    color: white;
}
