.one{
    order: 1;
    background-color: red;
    height: 100px;
    width: 100px;
}
.two{
    order: 0;
    background-color: blue;
    height: 100px;
    width: 100px;
}
.three{
    order: -1;
    background-color: blueviolet;
    height: 100px;
    width: 100px;
}
div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    gap: 10px;
}