#container{
    width: 300px;
    height: 300px;
    display: grid;
    grid-template-columns: 20% 20% 20%;
    grid-template-rows: 20% 20% 20%;
    background-color: rgb(0, 0, 0);
}

#div1{
    width: 200px;
    height: 200px;
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: aqua;
    gap: 10px;
}
#div2{
    width: 100px;
    height: 100px;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color:plum;
    gap: 10px;
}
#div3{
    gap: 10px;
    background-color: yellow;
    width: 100px;
    height: 100px;
    grid-row-start: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    gap: 10px;
}
#div4{
    background-color: green;
    gap: 10px;
}
#div5{
    width: 100px;
    height: 100px;
    grid-column-start: 3;
    grid-column-end: 4;
    background-color: orange;
    gap: 10px;
}