*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: black;
    color: white;
}
#div img{
    width: 400px;
    height: 500px;
    border-radius: 10px;
}
#inp {
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid gray;
    margin-left: 500px;
}
