body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
}
#maindiv{
    display: flex;
    gap: 10px;
    background-color: rgb(213, 213, 213);
    flex-direction: column;
    border-radius: 10px;
    height: 350px;
    color: white;
    padding-left: 100px;
    padding-right: 100px;
    align-items: center;
}

#input {
    width: 150px;
    border-radius: 20px;
    height: 20px;
}
#btn{
    border-radius: 15px;
    width: 80px;
    height: 20px;
    border: none;
    display: flex;

}
#clear{
    color:red;
    width: 100px;
    border-radius: 15px;
    height: 20px;
    border: none;
    
}


#itemslist{
    overflow: auto;
    height: 200px;
    width: 260px;
    align-items: center;
    
}