
a:hover{
    color: rgb(255,200,1);
}

a{
    transition: 0s;
}
html{
    background-color: #141519;
}

footer{
    background-color: #141519;
    color: white;
    margin: 10px;    
}

#fgg{
    background-color: black;
    color: white;
    border: none;
}

#ss{
    text-decoration: none;
    border: none;
}

input{
    background-color:#141519;
    border-radius: 4px;
    width: 150px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    color: white;
}

a{
    color: white;
    margin: 20px;
}
header{
    background-color: black;
    padding: 30px;
    margin: -10px;
}
main{
    background-color: #1D1E23;
}

