*{
    margin: 0px;
    padding: 0px;
}

#maindiv{
    color: white;
    background-color: black;
    border-radius: 10px;
    padding: 30px;
    opacity: 0.7;
    padding-left: 70px;
    padding-right: 70px;
}
body{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://images.unsplash.com/photo-1523821741446-edb2b68bb7a0?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8Ymx1ciUyMGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D&fm=jpg&q=60&w=3000);
}
img{
    width: 150px;
    border-radius: 10px;
}