*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 100vh;
}
#maindiv{
    flex-direction: row;
    display: flex;
}
img{
    width: 250px;
    height: 175px;
    background-color: white;
    padding: 5px;
    margin-left: 20px;
    border-radius: 15px;
}
body{
    background-color: #FFC0CB;
    font-family: cursive;
}
#h,#hh,#hhh,#hhhh{
    position: absolute;
    margin-left: 120px;
}
h1{
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
