section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: #f1f1f1;
}
#gg {
    text-justify: justify;
    text-align: center;
    font-size: x-small;

}
body {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/4/44/BMW.svg/800px-BMW.svg.png);
}